<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body style="background-color:rgb(187, 131, 240)">

    <h1>Blog App</h1>
    
    <form action="/blogs">
    <button type="submit">All Blogs</button>
    </form>

</body>
</html>